<div class="icon-load">

</div>
<div id="onama" class="container" style="margin-top: 1.5em">
  <div class="card-deck card-cont">
    <div class="card">
      <img class="card-img-top" src="img/pizza-cheese-margarita-homemade-162918.jpeg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title"><a href="#pica">Pizza</a></h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/hot-dog-2436747_1920.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Kobasica</h4>
        <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/summer-sunshine-alcohol-drink.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Pivo</h4>
        <p class="card-text"> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      </div>
    </div>
  </div>
</div>

<div id="meni" class="container" style="margin-top: 1.5em">
  <div class="menu-body">
     <!-- Section starts: Appetizers -->
     <div class="menu-section">
        <h2 class="menu-section-title">MAIN COURSE</h2>
        <!-- Item starts -->
        <div class="menu-item">
           <div class="menu-item-name">
              Delicious Dish
           </div>
           <div class="menu-item-price">
              $50
           </div>
           <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
           </div>
        </div>
        <!-- Item ends -->
        <!-- Item starts -->
        <div class="menu-item">
           <div class="menu-item-name">
              Delicious Dish
           </div>
           <div class="menu-item-price">
              $50
           </div>
           <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
           </div>
        </div>
        <!-- Item ends -->
        <!-- Item starts -->
        <div class="menu-item">
           <div class="menu-item-name">
              Delicious Dish
           </div>
           <div class="menu-item-price">
              $30
           </div>
           <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
           </div>
        </div>
        <!-- Item ends -->
        <!-- Item starts -->
        <div id="pica" class="menu-item">
           <div class="menu-item-name">
              Pizza
           </div>
           <div class="menu-item-price">
              $30
           </div>
           <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
           </div>
        </div>
        <!-- Item ends -->
     </div>
     <!-- Section ends: Appetizers -->
     <!-- Section starts: Drinks -->
     <div class="menu-section">
        <h2 class="menu-section-title">DRINKS</h2>
        <!-- Item starts -->
        <div class="menu-item">
           <div class="menu-item-name">
              Tasty Drink
           </div>
           <div class="menu-item-price">
              $30
           </div>
           <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
           </div>
        </div>
        <!-- Item ends -->
        <!-- Item starts -->
        <div class="menu-item">
           <div class="menu-item-name">
              Tasty Drink
           </div>
           <div class="menu-item-price">
              $30
           </div>
           <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
           </div>
        </div>
        <!-- Item ends -->
        <!-- Item starts -->
        <div class="menu-item">
           <div class="menu-item-name">
              Tasty Drink
           </div>
           <div class="menu-item-price">
              $30
           </div>
           <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
           </div>
        </div>
        <!-- Item ends -->
        <!-- Item starts -->
        <div class="menu-item">
           <div class="menu-item-name">
              Tasty Drink
           </div>
           <div class="menu-item-price">
              $30
           </div>
           <div class="menu-item-description">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
           </div>
        </div>
        <!-- Item ends -->
     </div>
     <!-- Section ends: Drinks -->
  </div>
</div>

<div id="lokacija" class="container" style="margin-top: 1.5em">
  <div class="menu-body">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2871.450270718876!2d21.266607615508075!3d43.970737079111686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4756c41aef418dbf%3A0x360de6c4cf197cda!2sKabel+Elektro+d.o.o.!5e0!3m2!1ssr!2srs!4v1484905441754" width="600" height="400" frameborder="0" style="width:100%,marign: 0 auto;" allowfullscreen></iframe>
  </div>


</div>

<div id="galerija" class="container" style="margin-top:1.5em">
  <div id="gore">
    <img  id="slika-1"  src="img/slika-1.jpeg" alt="The Scream">
  </div>
  <div id="dole">
    <div class="sli"><img class="slicice" id="slika-1"  src="img/slika-1.jpeg" alt="" width="150" height="100" ></div>
    <div class="sli"><img class="slicice" id="slika-2"  src="img/slika-2.jpeg" alt="" width="150" height="100"  ></div>
    <div class="sli"><img class="slicice" id="slika-3"  src="img/slika-3.jpeg" alt="" width="150" height="100" ></div>
    <div class="sli"><img class="slicice" id="slika-4"  src="img/slika-4.jpeg" alt="" width="150" height="100" ></div>
    <div class="sli"><img class="slicice" id="slika-5"  src="img/slika-5.jpeg" alt="" width="150" height="100" ></div>
    <div class="sli"><img class="slicice" id="slika-6"  src="img/slika-6.jpeg" alt="" width="150" height="100" ></div>
    <div class="sli"><img class="slicice" id="slika-7"  src="img/slika-7.jpeg" alt="" width="150" height="100" ></div>
    <div class="sli"><img class="slicice" id="slika-8"  src="img/slika-8.jpeg" alt="" width="150" height="100" ></div>
    <div class="sli"><img class="slicice" id="slika-9"  src="img/slika-9.jpeg" alt="" width="150" height="100" ></div>
    <div class="sli"><img class="slicice" id="slika-10"  src="img/slika-10.jpeg" alt="" width="150" height="100" ></div>
  </div>
</div>

<div id="kontakt" class="container" style="margin-top:1.5em;">


</div>
